{% extends "base.html" %}

{% block content %}


{% if username|length <3 or username|length > 20: %}
	error = "You must enter a valid user name"
{% endif %}

{% if password|length <3 or password|length > 20: %}
	error = "Invalid password"
{% endif %}

{% if retyped_password != password: %}
	error = "Password mismatch"
{% endif %}

{% if "@" not in emailaddr or "." not in emailaddr: %}
	error = "Make sure email address is valid"
{% endif %}

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}

{% endblock %}
