<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>
            User Signup
        </h1>
            <form action="/chkform" method = "post">
                <label for="username">Username</label>
                <input name="username" type="text" value={{username}}>
                <label class="error">{{username_error}}</label>
                <br>
                <label for="password">Password</label>
                <input name="password" type="password" value="">
                <label class="error">{{password_error}}</label>
                <br>
                <label for="chkpwd">Re-enter password</label>
                <input name="chkpwd" type="password">
                <label class="error">{{chkpwd_error}}</label>
                <br>
                <label for="emailaddr">Email Address</label>
                <input name="emailaddr" type="text" value={{emailaddr}}>
                <label class="error">{{email_error}}</label>
                <br>
                <input  value="Sign up!" type="submit">
            </form>
        {% block content %}

        {% endblock %}

    </body>
</html>
